<!DOCTYPE HTML>
<html layout:decorator="layout" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Welcome to Spring Web MVC project</title>

</head>
<body>
<div id="loadTree" layout:fragment="content">
	<input type="hidden" id="token" th:value="${token}"/>
	<table class="table table-hover table-condensed">
  	<thead>
			<tr>
				<th>#</th>
				<th>Nombre</th>
				<th>Ultima edición</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="file,iterStat  : ${MyFiles}"  >
				<td th:text="${iterStat.count}" ></td>
				<td><a th:href="@{/file/(identifier=${file.id})}">file</a></td>
				<td th:text="${file.name}"></td>
				<td th:text="${file.modifiedTime}"></td>
				<td><button th:onclick="'share(\'' +${file.id} + '\');'">Share</button></td>
			</tr>
		</tbody>
	</table>
</div>
</body>

</html>