<!DOCTYPE HTML>
<html layout:decorator="layout" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Welcome to Spring Web MVC project</title>

</head>
<body>


<div id="loadTree" layout:fragment="content">


    <ul>
        <li>RootNode
            <ul>

                <li th:each="file : ${MyFiles}" th:text="${file.name}" th:href="@{/file/file.id}"
                    th:attr="data-target='#accordion'" data-toggle="collapse" class="accordion-toggle">


                    <!-- <p th:text="${ file.list.size}"></p>
                     <div th:if="${not file.list.isEmpty}">

                         <div class="accordion-body collapse" th:id="'#accordion'" >
                         <h1>Result</h1>


                         <th:block  th:object="${file}">

                                 <li th:each="item : *{list}" th:text="${item.name}">Item description here...</li>


                         </th:block>
                         </div>-->
                </li>

            </ul>

        </li>

    </ul>

</div>
<script>

$(function () { $('#loadTree').jstree(); });


</script>
</body>
</html>