<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Welcome to Spring Web MVC project</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js}"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <div class="navbar-brand dropdown">
                <span class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">TP2DSSD Drive App
                    <span class="caret"></span></span>

            <ul class="dropdown-menu">
                <li><a href="#">Listar mis archivos</a> </li>
                <li><a href="#">Compartir...</a> </li>
            </ul>
            </div>

        </div>
        <div class="navbar-collapse collapse">
            <div class="navbar-form navbar-right">
                <a th:if="${URL}" th:href="${URL}" class="btn btn-success">
                    <img th:src="@{img/iconDrive.png}"/><b> Acceder a Drive</b></a>
            </div>
        </div>
        <!--/.navbar-collapse -->
    </div>
</nav>


<div class="container">

    <div class="logo text-center">

        <img th:src="@{img/backDrive.png}"/>

    </div>

</div>

<footer id="footer">

    <div class="container">

        <div class="row">
            <div class="col-xs-6">
                <p class="text-left"> Autores: </p>
                <p class="text-left"> Ezequiel Panoff, Lucas Kaseta y Matias Barrera </p>
            </div>
            <div class="col-xs-6">
                <p class="text-right">Powered by @SpringBoot</p>
            </div>

        </div>

    </div>

</footer>


</body>
</html>